/* 반응형 디자인을 위해 미디어 쿼리로 루트의 폰트 사이즈를 조정해줘*/
@media screen and (max-width: 768px) {
  :root {
    font-size: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "SBAggroB", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
